
<div class="header">
    <div class="appbar">
      <img id="burger-menu-mobile" (click)="burgerMenuPressed(false)" src="assets/images/icon_menu_white.png" alt="search">
      <img src="assets/images/logo_web.png" alt="logo">
      <div class="search-container">
        <input type="text" placeholder="Search city" (input)="textInput($event)">
        <img (click)="searchButton()" src="assets/images/icon_search_white.png" alt="search">
      </div>
      <img id="search-button-mobile" (click)="searchButton()" src="assets/images/icon_search_white.png" alt="search">
    </div>
    <div class="title-date-mobile">
      {{date}}
    </div>

    <div class="navbar">
      
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='home'}" (click)="changeTab('home')">HOME</button>
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='favourite'}"  (click)="changeTab('favourite')">FAVOURITE</button>
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='recent'}"  (click)="changeTab('recent')">RECENT SEARCH</button>
   
      <div class="title-bar-date">
        {{date}}
      </div>
    </div>

    <hr class="divider">
  </div>
  <!-- <div class="body" [ngSwitch]="tab">
 <app-wheather *ngSwitchCase="'home'"></app-wheather>
 <app-recent *ngSwitchCase="'recent'"></app-recent>
 <app-favourite *ngSwitchCase="'favourite'"></app-favourite>
 </div> -->
 <div id="menu-container-mobile">
 <div id="menu-mobile">
  <ul>
    <li>Home</li>
    <li>Favourites</li>
    <li>Recent</li>
  </ul>
 </div>
 <div (click)="burgerMenuPressed(true)" class="transparent-button">

 </div>
</div>

  