
<div class="header">
    <div class="appbar">
      <img id="burger-menu-icon-mobile"  (click)="burgerMenuPressed(false)" src="assets/images/icon_menu_white.png" alt="burger">
      <img src="assets/images/logo_web.png" alt="logo">
      <div class="search-container">
        <input type="text" placeholder="Search city" aria-label="Number" matInput (input)="textInput($event)" [matAutocomplete] = "auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor = "let state of cityNames" [value]="state.name">
             {{state.name}}
          </mat-option>
        </mat-autocomplete>
        <img (click)="searchButton()" src="assets/images/icon_search_white.png" alt="search">
      </div>
      <img id="search-button-mobile" (click)="searchButton()" src="assets/images/icon_search_white.png" alt="search">
    </div>
    <div class="title-date-mobile">
      {{date}}
    </div>

    <div class="navbar">
      
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='home'}" (click)="changeTab('home',false)">HOME</button>
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='favourite'}"  (click)="changeTab('favourite',false)">FAVOURITE</button>
        <button class="navbar-button" [ngClass]="{'title-selected':tab=='recents'}"  (click)="changeTab('recents',false)">RECENT SEARCH</button>
   
      <div class="title-bar-date">
        {{date}}
      </div>
    </div>

    <hr class="divider">
  </div>
  <!-- <div class="body" [ngSwitch]="tab">
 <app-wheather *ngSwitchCase="'home'"></app-wheather>
 <app-recent *ngSwitchCase="'recent'"></app-recent>
 <app-favourite *ngSwitchCase="'favourite'"></app-favourite>
 </div> -->
 <div id="menu-container-mobile">
 <div id="menu-mobile">
  <ul>
    <li><div [ngClass]="{'title-selected':tab=='home'}" (click)="changeTab('home',true)">Home</div></li>
    <li><div [ngClass]="{'title-selected':tab=='favourite'}" (click)="changeTab('favourite',true)">Favourites</div></li>
    <li><div [ngClass]="{'title-selected':tab=='recents'}" (click)="changeTab('recents',true)">Recent</div></li>
  </ul>
 </div>
 <div (click)="burgerMenuPressed(true)" class="transparent-button">

 </div>
</div>

  