<div class="container">

  <div class="header">

    <div class="appbar">
      <div class="logo"></div>
      <div class="search-container">
        <input class="search" type="text" placeholder="Search city" (input)="textInput($event)">
        <button class="search-icon" (click)="searchButton()"></button>
      </div>
    </div>

    <div class="navbar">
      
        <div class="title-bar-titles">
          <button class="title-bar-titles-item" [ngClass]="{'title-selected':tab=='home'}" (click)="changeTab('home')">HOME</button>
          <button class="title-bar-titles-item" [ngClass]="{'title-selected':tab=='favourite'}"  (click)="changeTab('favourite')">FAVOURITE</button>
          <button class="title-bar-titles-item" [ngClass]="{'title-selected':tab=='recent'}"  (click)="changeTab('recent')">RECENT SEARCH</button>
        </div>

        <div class="title-bar-date">
          {{date}}
        </div>
      
     
    </div>
    <hr class="divider">

  </div>
  <div class="body" [ngSwitch]="tab">
 <app-wheather *ngSwitchCase="'home'"></app-wheather>
 <app-recent *ngSwitchCase="'recent'"></app-recent>
 <app-favourite *ngSwitchCase="'favourite'"></app-favourite>
 </div>
  
 

 
</div>