.container{
    display: flex;
    flex-direction: column;
    background-image: url("src/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
@media screen and (max-height:688px){
    
    .container{
        height: fit-content;
    }
    
}
@media screen and (max-width:680px) {
 
    .container{
        height: 100%;
    }

}